@charset "utf-8";

body{
    background:url('washi01.jpg') no-repeat;
}

div#main {
        margin: 0 auto;
        width: 940px;
}
.form{
    display: block;
    
    left: 50%;
    top: 470px;
   
}
