@charset "utf-8";

body{
    background:url('washi01.jpg') no-repeat;
}

div#main {
        margin: 0 auto;
        width: 940px;
	left: 200px;
	position: absolute;
}

.form{
    margin-left: 120px;
}

#ask{
    margin-top:250px;
}

#nazo{
    margin-top:100px;
}

#kake{
    margin-top:50px;
}

#kokoro{
    margin-top:50px;
}

.twice{
    font-size:200%;
}

p.twice{
    margin-top:-10px;
    font-size:300%;
    margin-left:570px;
}

p.triple{
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 400%;
}

p.left{
    margin-left: 0px;
}

#kokoro input{
    margin-top:-20px;
}

.form input{
    font-size: 200%;
    width: 700px;
    border: medium rgb(131, 22, 92) solid;
}

.answer input.radio{
    font-size: 200%;
}

.answer input:not(.bt){
    font-size: 200%;
    width: 200px;
    border: medium rgb(131, 22, 92) solid;
}
.answer input.kokoro{
    border-color:rgb(255, 191, 0) ;
}

#kokoro input{
    border-color:rgb(255, 191, 0) ;
}

#botton{
    margin-left: 120px;
}